<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>{% block title %}{% endblock title %} | プロタゴルーム</title>


</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    {% block header %}

    {% endblock header %}

    {% include "navi.html" %}

    <h1 class="text-light text-center" >{% block h1 %}{% endblock h1 %}</h1>
    {% block content %}{% endblock content %}
    

    {% include "footer.html" %}
</body>

<style>
    body{
        padding-top: 70px; 
    }
</style>

</html>