<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
    {% comment %} <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>{% block title %}{% endblock title %} | プロタゴルーム</title>


</head>
<body>

    {% block header %}

    {% endblock header %}

    <div class="navbar navbar-dark bg-success">
        <div>
            <nav class="navbar navbar-dark bg-success d-flex flex-row">
                <a href="{% url "game_index" %}" class="nav-link mx-3 text-light">🏠ホーム</a>
                <a href="{% url "games_list" %}" class="nav-link mx-3 text-light">🐿️一覧</a>
                <a href="{% url "game_upload" %}" class="nav-link mx-3 text-light">📝投稿</a>
            </nav>
        </div>
        <div>
            <nav class="navbar navbar-dark bg-success d-flex flex-row">
                            {% comment %} {% if user.is_authenticated %}
                <h5 class="text-light">こんにちは、{{user.user_name}}さん </h5>
            {% elif  %}
                <h5 class="text-light">こんにちは、ゲストさん </h5>
            {% endif %} {% endcomment %}
                    <search>
                        <form action="./search/" method="GET">
                            <input type="search" id="movie" class="border-success-subtle border-2 px-5" name="q" placeholder="ゲーム/ユーザーを検索..." autocomplete="on"/>
                            <button class="btn btn-light border-success-subtle border-2 text-success py-1" type="submit" >検索</button>
                        </form>
                    </search>
                    <p class="nav mx-3 text-light">こんにちは、ゲストさん </p>
                    <a href="#" class="nav mx-2 text-light">ログイン</a>
                    <a href="#" class="nav mx-3 text-light">サインアップ</a>

                </div>
            </nav>
        </div>

    </div>

            <h1>{% block h1 %}{% endblock h1 %}</h1>
                {% block content %}{% endblock content %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>