{% extends "base.html" %}

{% block title %}作品一覧{% endblock title %}



{% block h1 %}作品一覧{% endblock h1 %}
{% block content %}

{% comment %} ToDo:評価順 TOP5 {% endcomment %}
<main class="m-5 rounded-5 ">
  <div class="row d-flex ">
    {% for game in games %}

      {% if game == none %}
    
        <p class="text-secondary">まだ何も投稿されていないみたい...泣</p>

      {% else %}
        <div class="col-12 col-md-6 col-lg-3 gap-1">
          <a href="{% url 'game_play' game.pk%}" class="text-decoration-none">
            <div class="card m-3 shadow " style="width: 18rem;">
              {% if game.thumbnail_url.url != NONE %}
                <img src="{{ game.thumbnail_url.url }}" class="card-img-top  img-thumbnail thumbnail">
              {% else %}
                <img src="https://placehold.co/300x180" class="card-img-top  img-thumbnail thumbnail">
              {% endif %}
              <div class="card-body border border-2 border-success bg-dark">
                <h5 class="card-title text-light">{{game.title}}</h5>
                <hr class="border border-1 border-sescondary" >
                <p class="card-text m-0 text-light">プレイヤー数：{{ game.play_count }}</p>
                <p class="card-text m-0 text-light">{{game.created_at|date:"Y年m月d日"}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>

</div>

<!-- ToDo]:新着順 -->

{% endblock content %}